<section>
  <div class="about-team">

    <h6 style="font:16px 'Poppins',sans-serif;
                 margin:0px 0px 16px;
                 font-weight:bold;">
      Basic info about componay
    </h6>
    <h2 class="text" style="font:48px 'Poppins',sans-serif;
                  margin:0px 0px 20px;
                  background: linear-gradient(to right, skyblue,blue,purple);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
    letter-spacing:0.9px;
     ">
      Creative Heads
    </h2>
    <p style="font:14px 'Popins',sans-serif;
         letter-spacing:0.8px;
         color:#989797">Curabitur mollis bibendum luctus. Duis suscipit vitae dui sed suscipit. Vestibulum auctor nunc vitae diam eleifend, in maximus metus sollicitudin. Quisque vitae sodales lectus. Nam porttitor justo sed mi finibus, vel tristique risus faucibus.</p>

  </div>
  <br /><br />

  <div class="row card-group" style="margin-left:100px;text-align:center">
    <div class="col-sm-4 card">
      <div class="social">
        <img class="card-img-top" src="https://jooinn.com/images/man-19.jpg" alt="Card image cap" style="width:330px;height:250px;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);">
        <div class="middle">
          <a href="#" class="fa fa-facebook"></a>
          <a href="#" class="fa fa-instagram"></a>
          <a href="#" class="fa fa-google"></a>
          <a href="#" class="fa fa-skype"></a>
        </div>
      </div>
      <div class="card-body">
        <br />
        <h5 class="card-title" style="font:25.6px 'Poppins',sans-sarif;
                   color:#2B2B2B">
          Alex Walkin
        </h5>
        <p style="font:14px 'Poppins',sans-sarif;
                   color:#2B2B2B">Owner/Co-founder</p>
        <br />
        <p  style="font:16px 'Poppins',sans-sarif;
                   color:#2B2B2B;
                   font-weight:bold;
                   text-align:left;">Project Management</p>
        <div class="progress">
          <div class="progress-bar " style="width: 70%;height:70%;background:linear-gradient(to right, skyblue,blue,purple);"></div>
        </div>
        <p style="font:16px 'Poppins',sans-sarif;
                   color:#2B2B2B;
                   font-weight:bold;
                   text-align:left;">Web Consulting</p>
        <div class="progress">
          <div class="progress-bar" style="width: 90%;height:70%;background:linear-gradient(to right, skyblue,blue,purple);"></div>
        </div>
      </div>
      </div>
      <div class="col-sm-4 card">
        <div class="social">
          <img class="card-img-top" src="https://mm.aiircdn.com/326/59b18005e3df4.jpg" alt="Card image cap" style="width:330px;height:250px;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);">
          <div class="middle">
            <a href="#" class="fa fa-facebook"></a>
            <a href="#" class="fa fa-instagram"></a>
            <a href="#" class="fa fa-google"></a>
            <a href="#" class="fa fa-skype"></a>
          </div>
        </div>
        <div class="card-body">
          <br />
          <h5 class="card-title" style="font:25.6px 'Poppins',sans-sarif;
                   color:#2B2B2B">
            Teena Jhon
          </h5>
          <p style="font:14px 'Poppins',sans-sarif;
                   color:#2B2B2B">Lead Designer</p>
          <br />
          <p style="font:16px 'Poppins',sans-sarif;
                   color:#2B2B2B;
                   font-weight:bold;
                   text-align:left;">Web Designing</p>
          <div class="progress">
            <div class="progress-bar " style="width: 60%;height:70%; background:linear-gradient(to right, skyblue,blue,purple)"></div>
          </div>
          <p style="font:16px 'Poppins',sans-sarif;
                   color:#2B2B2B;
                   font-weight:bold;
                   text-align:left;">Print Media</p>
          <div class="progress">
            <div class="progress-bar" style="width: 50%;height:70%; background:linear-gradient(to right, skyblue,blue,purple)"></div>
          </div>
        </div>
      </div>
      <div class="col-sm-4 card">
        <div class="social">
          <img class="card-img-top" src="http://static1.squarespace.com/static/5a8a9449f43b552a84c6cca4/5a8ffce2e2c483a511f011da/5b3d97408a922db5a551efa8/1530763415058/deaf+man.jpg?format=1500w" alt="Card image cap" style="width:auto;height:240px;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);">
          <div class="middle">
            <a href="#" class="fa fa-facebook"></a>
            <a href="#" class="fa fa-instagram"></a>
            <a href="#" class="fa fa-google"></a>
            <a href="#" class="fa fa-skype"></a>
          </div>
        </div>
        <div class="card-body">
          <br />
          <h5 class="card-title" style="font:25.6px 'Poppins',sans-sarif;
                   color:#2B2B2B">
            David Warrior
          </h5>
          <p style="font:14px 'Poppins',sans-sarif;
                   color:#2B2B2B">Marketing Head</p>
          <br />
          <p style="font:16px 'Poppins',sans-sarif;
                   color:#2B2B2B;
                   font-weight:bold;
                   text-align:left;">Marketing Online</p>
          <div class="progress">
            <div class="progress-bar " style="width: 86%;height:70%; background:linear-gradient(to right, skyblue,blue,purple)"></div>
          </div>
          <p style="font:16px 'Poppins',sans-sarif;
                   color:#2B2B2B;
                   font-weight:bold;
                   text-align:left;">SEO Service</p>
          <div class="progress">
            <div class="progress-bar" style="width: 94%;height:70%; background:linear-gradient(to right, skyblue,blue,purple)"></div>
          </div>

        </div>
        </div>
      </div>
</section>
