<section id="aboutUs">
  <div class="row" style="margin-left:2%;">
    <div class="col-md-1" id="first">

      <h6 style=" font: 25px poppins,sans-serif;
 font-weight:bold;
  color: #00BCD4">
        A
      </h6>
      <br />
      <h6 style=" font: 25px poppins,sans-serif;
 font-weight:bold;
  color: #00BCD4">
        B
      </h6>
      <br />
      <h6 style=" font: 25px poppins,sans-serif;
 font-weight:bold;
  color: #00BCD4">
        O
      </h6>
      <br />
      <h6 style=" font: 25px poppins,sans-serif;
     font-weight:bold;
  color: #00BCD4">
        U
      </h6>
      <br />
      <h6 style=" font: 25px poppins,sans-serif;
 font-weight:bold;
  color: #00BCD4">
        T
      </h6>
   </div>
    <div class="col-md-5" style="margin-top:5%">
      <h1 style="font:50px poppins,sans-serif;
     color:#2B2B2B;">
        Helping Students Navigate the complex maze of projects and deadlines
      </h1>
    </div>
    <br />
                      <div class="col-md-4" style="margin-top:ok;
                                                   margin-left:5%;
                                                   color:black;
                                      
                                                   font-style:italic;
                                                   " id="second">
                        <br /><br />
                        <p><mark>We envision to help students exceed all rigorous academic standards and high expectations district benchmarks, knowing that it is effort, perseverance, and resiliency that will lead to success throughout life.</mark></p>
                        <br /><br />
                      </div>
  </div>
  <br /><br /><br />
  <div class="row " id="image">
    <div class="col-sm-4  animated fadeInLeft" style="margin-left:60%;">
      <h1 class="text" style="font:40px  roboto,sans-serif;
              padding:40px 0px;
              background: linear-gradient(to left, #000099 0%, #6600ff 100%);
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
               font-weight:bold">
        What Do We Do?
      </h1>
      <h4 style="font:20px poppins,sans-serif;
        color:black;
        margin:0px 0px 24px">
        We provide online writing assistance in
      </h4>
      <p style="font:15px roboto,sans-serif;
        color:black">
        - Literature Review
      </p>
      <p style="font:15px roboto,sans-serif;
        color:black">
        - Dissertation Writing .
      </p>
      <p style="font:15px roboto,sans-serif;
        color:black">
        - Essay/ Assignment
      </p>
      <p style="font:15px roboto,sans-serif;
        color:black">
        - Project Coursework.
      </p>
      <p style="font:15px roboto,sans-serif;
        color:black">
        -Research Paper Assistance
      </p>
      <p style="font:15px roboto,sans-serif;
        color:black">
        - Methodology
      </p>
      <br/>
    </div> 
    </div>
  <div class="row">
    <div class="col-sm-12"></div>
  </div>
  <div class="row">
    

  </div>
  <div id="image"></div>
  <br /><br />
  <div class="loader">
    <div class="box"></div>
    <div class="hill"></div>
  </div>
</section>



