<br /><br />
      
        <section class="pricing py-5" >
          <div class="row" id="pricing">
            <div class="col-sm-8 ">
              <h6 style=" font:16px 'Poppins',sans-serif;
                         margin:0px 0px 16px;">
                Most flexible pricing
              </h6>
              <h1 class="text" style="font: 48px Poppins,sans-serif;
                       margin:0px 0px 16px;
                       background: linear-gradient(to left, skyblue,purple);
                       -webkit-background-clip: text;
                       -webkit-text-fill-color: transparent;">
                Easy Pricing
              </h1>
              <p style="font:15px Roboto,sans-serif;
                       margin:0px 0px 16px;
                         letter-spacing:.4px;">Curabitur mollis bibendum luctus. Duis suscipit vitae dui sed suscipit. Vestibulum auctor nunc vitae diam eleifend, in maximus metus sollicitudin. Quisque vitae sodales lectus. Nam porttitor justo sed mi finibus, vel tristique risus faucibus.</p>
              <br />
            </div>
          </div>


          <div class="container">
            <div class="row">
              <!-- Free Tier -->
              <div class="col-lg-4">
                <div class="card mb-5 mb-lg-0">
                  <div class="card-body">
                    <br />
                    <h5 class="card-title text-muted text-uppercase  text">Basic</h5>
                    <hr />
                    <div class="row">
                      <div class="col-sm-3">
                        <h6 class="card-price text-left">$29<span class="period">MONTH</span></h6>
                      </div>
                      <div class="col-sm-8">
                        <p style="font:15px roboto,sans serif;
                              margin-left:50px;
                              margin-top:10px">It has survived not only five centu but also the leap electronic.</p>
                      </div>
                    </div>
                    <hr>
                    <div>
                      <p><span class="glyphicon glyphicon-ok" style="color:lawngreen;"></span> Full access</p>
                      <br />
                      <p><span class="glyphicon glyphicon-ok" style="color:lawngreen;"></span> Unlimited Bandwidth</p>
                      <br />
                      <p><span class="glyphicon glyphicon-ok" style="color:lawngreen;"></span> Powerful Admin Panel </p>
                      <br />
                      <p><span class="glyphicon glyphicon-remove" style="color:red;"></span> Email Accounts</p>
                      <br />
                      <p><span class="glyphicon glyphicon-remove" style="color:red;"></span> 8 Free Forks Every Months</p>
                    </div>
                    <br />
                    <a href="#" class="btn btn-block  text-uppercase" style="color:white;">Button</a>
                    <br />
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="card mb-5 mb-lg-0">
                  <div class="card-body">
                    <br />
                    <h5 class="card-title text-muted text-uppercase text-left">Popular</h5>
                    <hr />
                    <div class="row">
                      <div class="col-sm-3">
                        <h6 class="card-price text-left">$49<span class="period">MONTH</span></h6>
                      </div>
                      <div class="col-sm-8">
                        <p style="font:15px roboto,sans serif;
                              margin-left:50px;
                              margin-top:10px">It has survived not only five centu but also the leap electronic.</p>
                      </div>
                    </div>
                    <hr>
                    <div>
                      <p><span class="glyphicon glyphicon-ok" style="color:lawngreen;"></span> Full access</p>
                      <br />
                      <p><span class="glyphicon glyphicon-ok" style="color:lawngreen;"></span> Unlimited Bandwidth</p>
                      <br />
                      <p><span class="glyphicon glyphicon-ok" style="color:lawngreen;"></span> Powerful Admin Panel </p>
                      <br />
                      <p><span class="glyphicon glyphicon-ok" style="color:lawngreen;"></span> Email Accounts</p>
                      <br />
                      <p><span class="glyphicon glyphicon-remove" style="color:red;"></span> 8 Free Forks Every Months</p>
                    </div>
                    <br />
                    <a href="#" class="btn btn-block  text-uppercase" style="color:white;">Button</a>
                    <br />
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="card mb-5 mb-lg-0">
                  <div class="card-body">
                    <br />
                    <h5 class="card-title text-muted text-uppercase text-center">Advance</h5>
                    <hr />
                    <div class="row">
                      <div class="col-sm-3">
                        <h6 class="card-price text-left">$99<span class="period">MONTH</span></h6>
                      </div>
                      <div class="col-sm-8">
                        <p style="font:15px roboto,sans serif;
                              margin-left:50px;
                              margin-top:10px">It has survived not only five centu but also the leap electronic.</p>
                      </div>
                    </div>
                    <hr>
                    <div>
                      <p><span class="glyphicon glyphicon-ok" style="color:lawngreen;"></span> Full access</p>
                      <br />
                      <p><span class="glyphicon glyphicon-ok" style="color:lawngreen;"></span> Unlimited Bandwidth</p>
                      <br />
                      <p><span class="glyphicon glyphicon-ok" style="color:lawngreen;"></span> Powerful Admin Panel </p>
                      <br />
                      <p><span class="glyphicon glyphicon-ok" style="color:lawngreen;"></span> Email Accounts</p>
                      <br />
                      <p><span class="glyphicon glyphicon-ok" style="color:lawngreen;"></span> 8 Free Forks Every Months</p>
                    </div>
                    <br />
                    <a href="#" class="btn btn-block  text-uppercase" style="color:white;">Button</a>
                    <br />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <br /><br /><br />
        </section>
      
