<section>
  <div class="row" style="margin-left:30px;">
    <div class="col-md-6" id="first">
      <br />
      <h6 style=" font: 16px poppins,sans-serif;
  color: #00BCD4">
        Basic info about componay
      </h6>
      <h1 style="font:60px poppins,sans-serif;
     color:#2B2B2B">
        Wexim - A Creative Design Agency in NewYork, USA
      </h1>
    </div>
    <br /><br /><br /><br />
    <div class="col-md-4" id="second">
      <p>Curabitur mollis bibendum luctus. Duis suscipit vitae dui sed suscipit. Vestibulum auctor nunc vitae diam eleifend, in maximus metus sollicitudin. Quisque vitae sodales lectus. Nam porttitor justo sed mi finibus, vel tristique risus faucibus. </p>
      <br /><br />
      <p>Curabitur mollis bibendum luctus. Duis suscipit vitae dui sed suscipit. Vestibulum auctor nunc vitae diam eleifend, in maximus metus sollicitudin. Quisque vitae sodales lectus.</p>
    </div>
  </div>
  <br /><br /><br />
  <div class="row text-left" style="margin-left:80px;">
    <div class="col-sm-4  animated fadeInLeft">
      <h1 class="text" style="font:40px  roboto,sans-serif;
              padding:40px 0px;
              background: linear-gradient(to left, #000099 0%, #6600ff 100%);
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
               font-weight:bold">
        01.
      </h1>
      <h4 style="font:20px poppins,sans-serif;
        color:#000000;
        margin:0px 0px 24px">
        Website Design
      </h4>
      <p style="font:15px roboto,sans-serif;
        color:#6D6D6D">Lorem ipsum dolor amet, consectetur adipiscing elit augue diam, accumsan ipsum dolor sit amet, consectetur adipiscing.</p>
    </div>
    <div class="col-sm-4 animated fadeInUp">
      <h1 class="text" style="font:40px  roboto,sans-serif;
              padding:40px 0px;
           background: linear-gradient(to left, #000099 0%, #6600ff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
     font-weight:bold">
        02.
      </h1>
      <h4 style="font:20px poppins,sans-serif;
        color:#000000;
        margin:0px 0px 24px">
        Website Development
      </h4>
      <p style="font:15px roboto,sans-serif;
        color:#6D6D6D">Lorem ipsum dolor amet, consectetur adipiscing elit augue diam, accumsan ipsum dolor sit amet, consectetur adipiscing.</p>
    </div>
    <div class="col-sm-4 animated fadeInRight">
      <h1 class="text" style="font:40px  roboto,sans-serif;
              padding:40px 0px;
           background: linear-gradient(to left, #000099 0%, #6600ff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
     font-weight:bold">
        03.
      </h1>
      <h4 style="font:20px poppins,sans-serif;
        color:#000000;
        margin:0px 0px 24px">
        Project Management
      </h4>
      <p style="font:15px roboto,sans-serif;
        color:#6D6D6D">Lorem ipsum dolor amet, consectetur adipiscing elit augue diam, accumsan ipsum dolor sit amet, consectetur adipiscing.</p>
    </div>
  </div>
  <br /><br /><br />
  <div class="row">
    <div class="col-sm-3 text-centre" id="clipart1">
      <a><img src="http://themesindustry.com/html/wexim-2019/images/laptop-img.png" width="800" height="400" /></a>
    </div>
    <div class="col-sm-3 text-center" id="clipart2">
      <a><img class="type1" src="http://themesindustry.com/html/wexim-2019/images/laptop-slide-img1.jpg" width="450" height="245" /></a>
      <a><img class="type2" src="http://themesindustry.com/html/wexim-2019/images/laptop-slide-img3.jpg" width="450" height="245" /></a>
      <a><img class="type3" src="http://themesindustry.com/html/wexim-2019/images/laptop-slide-img2.jpg" width="450" height="245" /></a>
    </div>
  </div>
</section>



