<section id="ourTeam">
  <div class="about-team">

    <h2 class="text" style="font:48px 'Poppins',sans-serif;
                  margin:0px 0px 20px;
                  background: linear-gradient(to right, skyblue,blue,purple);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
    letter-spacing:0.9px;
     ">
      Creative Minds
    </h2>
  </div>
  <br /><br />

  <div class="row card-group" style="margin-left:5%;text-align:center">
    <div class="col-sm-4 card">
      <div class="social">
        <img class="card-img-top" src="https://mail.google.com/mail/u/0?ui=2&ik=e009854117&attid=0.1&permmsgid=msg-f:1639506327123339941&th=16c0b2516b312aa5&view=att&disp=safe" alt="Card image cap" style="width:100%;height:100%;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);">
        <div class="middle">
          <a href="#" class="fa fa-facebook"></a>
          <a href="#" class="fa fa-instagram"></a>
          <a href="#" class="fa fa-google"></a>
          <a href="#" class="fa fa-skype"></a>
        </div>
      </div>
      <div class="card-body">
        <br />
        <h2 class="card-title" style="font:25.6px 'Poppins',sans-sarif;
                   color:#2B2B2B">
          Guru
        </h2>
        <h6 style="font:14px 'Poppins',sans-sarif;
                   color:#2B2B2B">
          Full Stack Web Developer
        </h6>
        <br />
        <p style="font:14px 'Poppins',sans-sarif;
                   color:#2B2B2B">
          Guru is a full stack web developer and a programmer believing in seizing the odd. If not creating beautiful and functional websites he’s a vivid reader of Sanskrit literature, an active mentor and a  connector for special projects and collaboration.
        </p>

      </div>
      </div>
      <div class="col-sm-4 card">
        <div class="social">
          <img class="card-img-top" src="https://mail.google.com/mail/u/0?ui=2&ik=e009854117&attid=0.3&permmsgid=msg-f:1639506327123339941&th=16c0b2516b312aa5&view=att&disp=safe" alt="Card image cap" style="width:100%;height:100%;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);">
          <div class="middle">
            <a href="#" class="fa fa-facebook"></a>
            <a href="#" class="fa fa-instagram"></a>
            <a href="#" class="fa fa-google"></a>
            <a href="#" class="fa fa-skype"></a>
          </div>
        </div>
        <div class="card-body">
          <br />
          <h2 class="card-title" style="font:25.6px 'Poppins',sans-sarif;
                   color:#2B2B2B">
            Chaitra
          </h2>
          <h5 style="font:14px 'Poppins',sans-sarif;
                   color:#2B2B2B">Finance Professional</h5>
          <br />
          <p style="font:14px 'Poppins',sans-sarif;
                   color:#2B2B2B">
            Chaitra is a finance professional, a content writer and an imaginator. She loves to bring ideas into mainframes and prototype and handling them to coders and graphic designers to create a solid product. In her free time, she loves to dance, travel or sip on some hot chai with a book.
          </p>
        </div>
      </div>
      <div class="col-sm-4 card">
        <div class="social">
          <img class="card-img-top" src="https://mail.google.com/mail/u/0?ui=2&ik=e009854117&attid=0.3&permmsgid=msg-a:r-2095477328540323487&th=16bef8c09a2b975c&view=att&disp=safe&realattid=16bef8bc15adaf287dc1" alt="Card image cap" style="width:130%;height:100%;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);">
          <div class="middle">
            <a href="#" class="fa fa-facebook"></a>
            <a href="#" class="fa fa-instagram"></a>
            <a href="#" class="fa fa-google"></a>
            <a href="#" class="fa fa-skype"></a>
          </div>
        </div>
        <div class="card-body">
          <br />
          <h2 class="card-title" style="font:25.6px 'Poppins',sans-sarif;
                   color:#2B2B2B">
            Aman
          </h2>
          <h5 style="font:14px 'Poppins',sans-sarif;
                   color:#2B2B2B">Front End Developer</h5>
          <br />
          <p style="font:14px 'Poppins',sans-sarif;
                   color:#2B2B2B">
            Aman  is a Maths tutor and a front end developer, currently focused on creative interaction and slick animation. He’s insatiably curious, driven to create, and perpetually plugged in. He loves to look out for opportunities and an invariably consistent timely executioner.

          </p>

        </div>
        </div>
      </div>
</section>
