<section id="blog">

  <br />
  <div class="row">
    <div class="column animated fadeInLeft show-on-scroll" id="bkimg1" style="background-color:white;
       height:450px;
       width:100px">
    </div>
    <div class="column animated fadeInRight" style="background-color:white;">
      <h2 style="font:40px poppins,sans-serif;
                 margin:0px 0px 19.2px;
                 color:#2B2B2B">
        What is an Assignment Help?
      </h2>
      <p style="font:15px Roboto,sans-serif;
                 margin:0px 0px 16px;
                color:#6D6D6D">A good research paper is a disciplined approach towards the culmination of finely articulated thoughts, which means more references to read and longer hours at the library.  Now understanding that a little help along the way would add more brightness to your days. We provide online assistance in providing reference papers to your unique needs which cut down your hours at work and improve your grades with greater passion.</p>
      <br />
    </div>
  </div>
  <div class="row">
    <div class="column animated fadeInLeft show-on-scroll" style="background-color:white;">
      <h2 style="font:40px poppins,sans-serif;
                 margin:0px 0px 19.2px;
                 color:#2B2B2B">
        Why Help With Assignments?
      </h2>
      <p style="font:15px Roboto,sans-serif;
                 margin:0px 0px 16px;
                color:#6D6D6D">
        All too often, a student’s life at university revolves juggling between reading, researching, learning, having essays to write and deadlines to meet.

        Well just watching them all makes you exhausted,  stressed, anxious and really hard to see all the good. Hiring a professional academic writing service comes to ease the situation. It does not matter where you’re located. We at assignment corner help you smoothly ace at your academics. Order your papers right away to find progress in writing.
      </p>
    </div>
    <div class="column animated fadeInLeft show-on-scroll" id="bkimg1" style="background-color:white;
       height:450px;
       width:100px">
    </div>
  </div>
  <div class="row">
    <div class="column animated fadeInLeft show-on-scroll" id="bkimg1" style="background-color:white;
       height:450px;
       width:100px">
    </div>
    <div class="column animated fadeInRight" style="background-color:white;">
      <h2 style="font:40px poppins,sans-serif;
                 margin:0px 0px 19.2px;
                 color:#2B2B2B">
        Why is this treated as cheating?
      </h2>
      <p style="font:15px Roboto,sans-serif;
                 margin:0px 0px 16px;
                color:#6D6D6D">
        To answer this question we must first understand, what makes it questionable? Is It the purpose the essay is provided for or the intent

        It's received with?

        University tutors understand a superior paper in a blink, and for all students have to still face post submission evaluations. So how could custom writing be misunderstood and misrepresented as cheating?
      </p>
      <br />
    </div>
  </div>
  <section>
    <div  id="info">
      <div class="row" style="margin-left:5%">
       
        <div class="col-sm-3 animated fadeInUp">
          <img id="first1" src="https://image.flaticon.com/icons/svg/1644/1644130.svg" />
         
        </div>
        <div class="col-sm-9 animated fadeInUp">
          <h1 class="ml7">
            <span class="text-wrapper" style="margin-right:10%;
           font:roboto,sans-serif;
           color:black;
           "><span class="letter">Our writer will evaluate requirements and get in touch with you </span></span>
          </h1>
        </div>




      </div>
      <div class="row" style="margin-left:5%">

        <div class="col animated fadeInUp">
          <img id="first2" src="https://image.flaticon.com/icons/svg/1914/1914875.svg" />

        </div>
        <div class="col">
          <br /><br />
          <p style="color:whitesmoke;">Our writer will evaluate requirements and get in touch with you  </p>
        </div>
      </div>
      <div class="row" style="margin-left:7%">

        <div class="col animated fadeInUp">
          <img id="first3" src="https://image.flaticon.com/icons/svg/869/869016.svg" />

        </div>
        <div class="col">
          <br /><br />
          <p style="color:whitesmoke;">Our writer will evaluate requirements and get in touch with you  </p>
        </div>
      </div>
      <div class="row" style="margin-left:5%">

        <div class="col animated fadeInUp">
          <img id="first4" src="https://image.flaticon.com/icons/svg/1980/1980736.svg" />

        </div>
        <div class="col">
          <br /><br />
          <p style="color:whitesmoke;">Our writer will evaluate requirements and get in touch with you  </p>
        </div>
      </div>
      </div>

    <script>
      var scroll = window.requestAnimationFrame ||
        // IE Fallback
        function (callback) { window.setTimeout(callback, 1000 / 60) };
      var elementsToShow = document.querySelectorAll('.show-on-scroll');

      function loop() {

        Array.prototype.forEach.call(elementsToShow, function (element) {
          if (isElementInViewport(element)) {
            element.classList.add('is-visible');
          } else {
            element.classList.remove('is-visible');
          }
        });

        scroll(loop);
      }

      // Call the loop for the first time
      loop();

      // Helper function from: http://stackoverflow.com/a/7557433/274826
      function isElementInViewport(el) {
        // special bonus for those using jQuery
        if (typeof jQuery === "function" && el instanceof jQuery) {
          el = el[0];
        }
        var rect = el.getBoundingClientRect();
        return (
          (rect.top <= 0
            && rect.bottom >= 0)
          ||
          (rect.bottom >= (window.innerHeight || document.documentElement.clientHeight) &&
            rect.top <= (window.innerHeight || document.documentElement.clientHeight))
          ||
          (rect.top >= 0 &&
            rect.bottom <= (window.innerHeight || document.documentElement.clientHeight))
        );
      };

      // Wrap every letter in a span
      $('.ml7 .letters').each(function () {
        $(this).html($(this).text().replace(/([^\x00-\x80]|\w)/g, "<span class='letter'>$&</span>"));
      });

      anime.timeline({ loop: true })
        .add({
          targets: '.ml7 .letter',
          translateY: ["1.1em", 0],
          translateX: ["0.55em", 0],
          translateZ: 0,
          rotateZ: [180, 0],
          duration: 750,
          easing: "easeOutExpo",
          delay: function (el, i) {
            return 50 * i;
          }
        }).add({
          targets: '.ml7',
          opacity: 0,
          duration: 1000,
          easing: "easeOutExpo",
          delay: 1000
        });
    </script>

  </section>

</section>
