section{
  background-color:white;
  padding:40px 40px 40px 40px;
}
@import url('https://fonts.googleapis.com/css?family=Amiri|Aref+Ruqaa|Cairo|Changa|El+Messiri|Harmattan|Jomhuria|Lateef|Mirza|Rakkas|Lato|Source+Sans+Pro|Ubuntu');
/* *{transition: 0.3s linear; padding:0;margin:0;} */





.item:hover > img {
  transform: none;
}

p.ar {
  font-family: 'Rakkas', cursive;
  font-size: 1.1em;
}
* {
  box-sizing: border-box;
}

.row {
  display: flex;
}

/* Create two equal columns that sits next to each other */
.column {
  flex: 50%;
  padding: 25px 25px 25px 25px;
  height: 50%; /* Should be removed. Only for demonstration */
}


body::-webkit-scrollbar {
  width: 0.7em;
  background-color: #EEE;
}

body::-webkit-scrollbar-thumb {
  /* 	background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%); */
  background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
  /* 	background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%); */
  /*   background: linear-gradient(to top, #2193b0, #6dd5ed);  */
  border-radius: 1em;
}

.animated {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both
}

@keyframes fadeInUp {
  from {
    transform: translate3d(0,40px,0)
  }

  to {
    transform: translate3d(0,0,0);
    opacity: 1
  }
}

@-webkit-keyframes fadeInUp {
  from {
    transform: translate3d(0,40px,0)
  }

  to {
    transform: translate3d(0,0,0);
    opacity: 1
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

.ml7 {
  position: relative;
  font-weight: 900;
  font-size: 3.7em;
}

  .ml7 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.2em;
    padding-right: 0.05em;
    padding-bottom: 0.1em;
    overflow: hidden;
  }

  .ml7 .letter {
    transform-origin: 0 100%;
    display: inline-block;
    line-height: 1em;
  }


#bkimg1 {
  background-image: url('C:\Users\GURU\Downloads\startup.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#first1{
  width:30%;
  margin-top:3%;
}
#first2 {
  width: 30%;
  margin-top: 3%;
}
#first3 {
  width: 30%;
  margin-top: 3%;
  margin-right:3%
}
#first4 {
  width: 30%;
  margin-top: 3%;
}






