
<div class="col-md-12 text-center" style="margin-top:100px;">
  <ul class="social-network social-circle">
    <li><a href="#" class="icoRss" title="Rss"><i class="fa fa-rss"></i></a></li>
    <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
    <li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
    <li><a href="#" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a></li>
    <li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
  </ul>
  <p  style="margin-top:50px;
          font:18px poppins,sans-serif">Copyright<span class="glyphicon glyphicon-copyright-mark"></span> by  Kc</p>
  <div class="container-fluid text-center">
    <a href="#myPage" title="To Top">
      <span class="glyphicon glyphicon-chevron-up"></span>
    </a>
  </div>
</div>


