<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">
  <nav class="navbar navbar-default center-logo animated fadeInUp navbar-fixed-top" role="navigation" id="">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-brand-centered">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <div class="navbar-brand "><a href="#myPage"></a></div>
      </div>
      
      <div class="container indigo topLeftBorders">
        <a>HOME</a>
        <a>ARTICLES</a>
        <a>PORTFOLIO</a>
        <a>ABOUT</a>
        <a>CONTACT</a>
      </div>
      </div>
  </nav>
  <br /><br />
        <section id="home">

          <br /><br /><br />
                      <div class="row">
                        <div class="col-sm-6 text" id="content">
                          <h1 style="font-family:Roboto, sans-serif;
                                   background: linear-gradient(to right, blue, purple);
                                   -webkit-background-clip: text;
                                   -webkit-text-fill-color: transparent;
                                    font-weight:bold ">Hire Most Affordable Writers From India</h1>
                          <p style="font-family:Roboto, sans-serif;">To all the Indians studying abroad. We understand the pain of being away from home synthesizing to a hostile education system, culture, and doing that extra part-time job just to pay your bills, which leaves you with no adequate time to research a topic and complete an assignment. At Assignment Corner, you’re guaranteed professional academic writing solutions at most affordable prices. We have expert writers who understand your subject knowledge requirements, deep research and present your papers with exceptional writing skills. </p>
                          <br />
                          <h2 style="font-family:Roboto, sans-serif;
                                   background: linear-gradient(to right, blue, purple);
                                   -webkit-background-clip: text;
                                   -webkit-text-fill-color: transparent;
                                    font-weight:bold ">Why Us?</h2>
                          <p>
                            The answer is simple – to ease your stress and improve your grades</p>
                           <p><span class="text" style="font-family:Roboto, sans-serif;
                                    background: linear-gradient(to right, blue, purple);
                                   -webkit-background-clip: text;
                                   -webkit-text-fill-color: transparent;
                                    font-weight:bold" > 1.</span> Writers have experience: Past experience only mean they’ve tested skillsets and expertise you need
                            An Assignment can be only as good as the sources used to produce it. Also, the most critical stage in which students tend to forgo is the literature review.

                            Remember precise formation reflects accurate thoughts.  Our writers dive deep into the subject matter formulate a theme and structure your paper

                            around the central theme</p>
                           
                          <p><span class="text" style="font-family:Roboto, sans-serif;
                                    background: linear-gradient(to right, blue, purple);
                                   -webkit-background-clip: text;
                                   -webkit-text-fill-color: transparent;
                                    font-weight:bold">2.</span>Plagiarism free writing:
                            All our writings go through testing for plagiarism free organic writing and are proofread  before presenting to you the final draft within the stipulated

                            time frame</p>
                            <p><span class="text" style="font-family:Roboto, sans-serif;
                                    background: linear-gradient(to right, blue, purple);
                                   -webkit-background-clip: text;
                                   -webkit-text-fill-color: transparent;
                                    font-weight:bold">3.</span>
                               Customizing service to your specific needs:
                                To your surprise, our writers know MLA, APA, Harvard and Chicago styles by heart and also custom cite as per your university acceptance criteria</p>
                            <p> <span class="text" style="font-family:Roboto, sans-serif;
                                    background: linear-gradient(to right, blue, purple);
                                   -webkit-background-clip: text;
                                   -webkit-text-fill-color: transparent;
                                    font-weight:bold">4.</span>
                                Confidentiality Policy:
                                 All our communication between our clients and writers is kept confidential. We guarantee no paper shall be published online. Despite the above, if any issue arises, the client can write to us directly and we ensure to provide a viable solution within  24 hours
                          </p>
                          <h1 style="font-family:Roboto, sans-serif;
                                   background: linear-gradient(to right, blue, purple);
                                   -webkit-background-clip: text;
                                   -webkit-text-fill-color: transparent;
                                    font-weight:bold ">What are you waiting for? Book your slot now</h1>
                        </div>
                        <div class="col-sm-3" id="logo">
                          <img src="http://themesindustry.com/html/wexim-2019/images/square2.png" alt="image" style="width:150%; height: 100%; font-weight:400;margin-right:4% " />
                         </div>
                      </div>
          <script>
            $(document).ready(function () {
              // Add smooth scrolling to all links in navbar + footer link
              $(".navbar a, footer a[href='#myPage']").on('click', function (event) {
                // Make sure this.hash has a value before overriding default behavior
                if (this.hash !== "") {
                  // Prevent default anchor click behavior
                  event.preventDefault();

                  // Store hash
                  var hash = this.hash;

                  // Using jQuery's animate() method to add smooth page scroll
                  // The optional number (900) specifies the number of milliseconds it takes to scroll to the specified area
                  $('html, body').animate({
                    scrollTop: $(hash).offset().top
                  }, 900, function () {

                    // Add hash (#) to URL when done scrolling (default click behavior)
                    window.location.hash = hash;
                  });
                } // End if
              });

              $(window).scroll(function () {
                $(".slideanim").each(function () {
                  var pos = $(this).offset().top;

                  var winTop = $(window).scrollTop();
                  if (pos < winTop + 600) {
                    $(this).addClass("slide");
                  }
                });
              });
            })


          </script>

        </section>
  </body>
