@media screen and (min-width:768px) {
  .navbar-brand-centered {
    position: absolute;
    left: 50%;
    width: auto;
    height: 40%;
    text-align: center;
    background-color: white;
  }

  .navbar > .container .navbar-brand-centered,
  .navbar > .container-fluid .navbar-brand-centered {
    margin-left: -80px;
  }

  .navbar {
    background-color: white;
  }
}

#logo {
  
  margin-right:5%;
}
#content {
 margin-left:5%;
}


#logo {
  animation: shake 10s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% {
    transform: translate(2px, 2px) rotate(0deg);
  }

  10% {
    transform: translate(-2px, -3px) rotate(-1deg);
  }

  20% {
    transform: translate(-4px, 1px) rotate(1deg);
  }

  30% {
    transform: translate(4px, 3px) rotate(0deg);
  }

  40% {
    transform: translate(2px, -2px) rotate(1deg);
  }

  50% {
    transform: translate(-2px, 3px) rotate(-1deg);
  }

  60% {
    transform: translate(-4px, 2px) rotate(1deg);
  }

  70% {
    transform: translate(4px, 2px) rotate(-1deg);
  }

  80% {
    transform: translate(-2px, -2px) rotate(1deg);
  }

  90% {
    transform: translate(2px, 3px) rotate(0deg);
  }

  100% {
    transform: translate(2px, -3px) rotate(-1deg);
  }
}

@keyframes FadeIn {
  0% {
    opacity: 0;
    -webkit-transition-duration: 0.8s;
    -webkit-transform: translateY(-10px);
  }


  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    pointer-events: auto;
    transition: cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.nav-list li {
  animation: FadeIn 1s cubic-bezier(0.65, 0.05, 0.36, 1);
  animation-fill-mode: both;
}

  .nav-list li:nth-child(1) {
    animation-delay: .3s;
  }

  .nav-list li:nth-child(2) {
    animation-delay: .6s;
  }

  .nav-list li:nth-child(3) {
    animation-delay: .9s;
  }

  .nav-list li:nth-child(4) {
    animation-delay: 1.2s;
  }

  .nav-list li:nth-child(5) {
    animation-delay: 1.5s;
  }

/* Animation */

@keyframes fadeInUp {
  from {
    transform: translate3d(0, 40px, 0)
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1
  }
}



.animated {
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: both
}

.animatedFadeInUp {
  opacity: 0
}

.fadeInUp {
  opacity: 0;
  -webkit-animation-name: fadeInUp;
}

.nav-list li.nav-list-item {
  display: inline-block;
  line-height: 40px;
  margin-left: 30px;
  margin-top: 15px;
}

a.nav-link {
  text-decoration: none;
  font-size: 18px;
  font-family: poppins,sans-serif;
  cursor: pointer;
  position: relative;
  color: #404040;
}

a.link {
  text-decoration: none;
  font-size: 18px;
  font-family: poppins,sans-serif;
  cursor: pointer;
  position: relative;
  color: #404040;
}

section {
  background-attachment: fixed;
  background-image: url('C:\Users\GURU\Downloads\office.jpg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
p {
  font: Didact Gothic;
  font-size: 15px;
  letter-spacing: 0.3px;
}








.navbar-nav li a:hover, .navbar-nav li.active a {
  background: linear-gradient(to left, skyblue,purple);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 18px;
  text-decoration: green solid underline;
}
@media screen and (min-width:768px) {
  .btn {
    border-radius: 15px;
    background: #00BCD4;
    font: 5%;
    color: white;
    text-align: center;
    margin-left: -200%;
  }
}

